{% extends 'base.html.twig' %}

{% block body %}
    <h1>Questionnairesatisfactions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomorganisme</th>
                <th>Formation</th>
                <th>Periodedebut</th>
                <th>Periodefin</th>
                <th>Dureeformation</th>
                <th>Offresatisfaitorganisme</th>
                <th>Offresatisfaitformation</th>
                <th>Offrepertinenceprojet</th>
                <th>Pertinenceattentesnote</th>
                <th>Offreremarque</th>
                <th>Relationechanges</th>
                <th>Relationadequationcours</th>
                <th>Relationdelaissupport</th>
                <th>Relationrespectdelaiscorrection</th>
                <th>Relationqualitecorrection</th>
                <th>Remarquerelation</th>
                <th>Deroulementsupportutilises</th>
                <th>Deroulementsupportcontenu</th>
                <th>Deroulementmoyencontact</th>
                <th>Deroulementsuivipedagogique</th>
                <th>Deroulementmodeevaluation</th>
                <th>Deroulementqualitecontactprof</th>
                <th>Deroulementqualitecontactass</th>
                <th>Deroulementcompetencesprof</th>
                <th>Deroulementcompetencesass</th>
                <th>Deroulementremarque</th>
                <th>Aproposnouveauappel</th>
                <th>Aproposnouveauappelcomm</th>
                <th>Aproposrecommandation</th>
                <th>Aproposremarque</th>
                <th>Elevenom</th>
                <th>Eleveprenom</th>
                <th>Eleveadresse</th>
                <th>Elevetelephone</th>
                <th>Eleveportable</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for questionnaireSatisfaction in questionnaireSatisfactions %}
            <tr>
                <td><a href="{{ path('questionnairesatisfaction_show', { 'id': questionnaireSatisfaction.id }) }}">{{ questionnaireSatisfaction.id }}</a></td>
                <td>{{ questionnaireSatisfaction.nomOrganisme }}</td>
                <td>{{ questionnaireSatisfaction.formation }}</td>
                <td>{% if questionnaireSatisfaction.periodeDebut %}{{ questionnaireSatisfaction.periodeDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if questionnaireSatisfaction.periodeFin %}{{ questionnaireSatisfaction.periodeFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ questionnaireSatisfaction.dureeFormation }}</td>
                <td>{{ questionnaireSatisfaction.offreSatisfaitOrganisme }}</td>
                <td>{{ questionnaireSatisfaction.offreSatisfaitFormation }}</td>
                <td>{{ questionnaireSatisfaction.offrePertinenceProjet }}</td>
                <td>{{ questionnaireSatisfaction.pertinenceAttentesNote }}</td>
                <td>{{ questionnaireSatisfaction.OffreRemarque }}</td>
                <td>{{ questionnaireSatisfaction.relationEchanges }}</td>
                <td>{{ questionnaireSatisfaction.relationAdequationCours }}</td>
                <td>{{ questionnaireSatisfaction.relationDelaisSupport }}</td>
                <td>{{ questionnaireSatisfaction.relationRespectDelaisCorrection }}</td>
                <td>{{ questionnaireSatisfaction.relationQualiteCorrection }}</td>
                <td>{{ questionnaireSatisfaction.remarqueRelation }}</td>
                <td>{{ questionnaireSatisfaction.deroulementSupportUtilises }}</td>
                <td>{{ questionnaireSatisfaction.deroulementSupportContenu }}</td>
                <td>{{ questionnaireSatisfaction.deroulementMoyenContact }}</td>
                <td>{{ questionnaireSatisfaction.deroulementSuiviPedagogique }}</td>
                <td>{{ questionnaireSatisfaction.deroulementModeEvaluation }}</td>
                <td>{{ questionnaireSatisfaction.deroulementQualiteContactProf }}</td>
                <td>{{ questionnaireSatisfaction.deroulementQualiteContactAss }}</td>
                <td>{{ questionnaireSatisfaction.deroulementCompetencesProf }}</td>
                <td>{{ questionnaireSatisfaction.deroulementCompetencesAss }}</td>
                <td>{{ questionnaireSatisfaction.deroulementRemarque }}</td>
                <td>{% if questionnaireSatisfaction.aProposNouveauAppel %}Yes{% else %}No{% endif %}</td>
                <td>{{ questionnaireSatisfaction.aProposNouveauAppelComm }}</td>
                <td>{{ questionnaireSatisfaction.aProposRecommandation }}</td>
                <td>{{ questionnaireSatisfaction.aProposRemarque }}</td>
                <td>{{ questionnaireSatisfaction.eleveNom }}</td>
                <td>{{ questionnaireSatisfaction.elevePrenom }}</td>
                <td>{{ questionnaireSatisfaction.eleveAdresse }}</td>
                <td>{{ questionnaireSatisfaction.eleveTelephone }}</td>
                <td>{{ questionnaireSatisfaction.elevePortable }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('questionnairesatisfaction_show', { 'id': questionnaireSatisfaction.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('questionnairesatisfaction_edit', { 'id': questionnaireSatisfaction.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('questionnairesatisfaction_new') }}">Create a new questionnaireSatisfaction</a>
        </li>
    </ul>
{% endblock %}
